	body{
		text-align: center;
		min-width: 810px;
		max-width: 1200px;
		margin: 0px auto;
		font-family: 'EB Garamond', serif;
		color: #3c5162;
		background-color: #F7F1F1;
	}
	h1{
		font-size: 1.6em;
	    font-family: 'EB Garamond', serif;
	    letter-spacing: 2px;
	    font-style: normal;
	    font-weight: normal;
	    margin-bottom: 37px
	}
	h3{
		font-size: 1.1em;
	    font-family: 'EB Garamond', serif;
	    letter-spacing: 2px;
	    font-style: normal;
	    font-weight: normal;
	}
	h2,h4{
		font-family: 'EB Garamond', serif;
	    letter-spacing: 2px;
	    font-weight: 300;
	    font-size: 1.1em;
	    margin-top: 67px;
	    margin-bottom: 0px;
	}
	h2{
		margin: 50px auto;
	}
	a {
	text-decoration: none;
	color: #3c5162;
	}
	p{
		margin: 15px auto;
		font-size: 1em;
		text-align: left;
		width:825px;
	}
	.footer{
	text-align: center;
	color:#adabac;
	padding: 25px;
	font-size: 1.1em;
	margin:35px;
	}
	.content{
		background-color: #fff;
	}
	.banner{
		 height: 30px;
    	background-color: #ffd1c2;
	}
	.rule {
		height:1px;
    	background: #FFD1C3;
    	margin: 25px auto 0 auto;
    	width: 655px;
	}
	.rule2{
		height:1px;
    	background: #FFD1C3;
    	margin: 25px auto 0 auto;
    	width: 400px;
	}
	@media (max-width: 901px) { 
		p{
			width:450px;
		}
		.rule{
				width:431px;
			}

		 }

		span.center{
			font-size: 1.2em;
			color:#666;
		}
		#logo{
			margin-top: 44px;
	    	margin-bottom: 48px;
	    	height: 30px;
		}
		.share{
			width:50px;
			cursor: pointer;
			display:inline-block;
			margin:0px 15px 35px 15px;
		}
		.center {
			display:block;
			margin: 0px auto;
		}
		.thumb {
			display:inline-block;
			margin: 10px;
			max-width: 200%;
		}
		.vtine{
			width:431px;

		}
		@media only screen and (min-device-width : 280px) and (max-device-width : 600px) {

				.thumb.vtine { 
						margin: 5px;
						width: 800px;
						}
				.share > a > img, .share > img{
						width:65px;
						}
				h2,h4{
				font-family: 'EB Garamond', serif;
			    letter-spacing: 2px;
			    font-weight: 300;
			    font-size: 2em;
			    margin-top: 67px;
			    margin-bottom: 0px;
					}
				h2{
				margin: 50px auto;
					}
				.rule {
				height:2px;
		    	width: 655px;
					}
				.rule2{
				height:2px;
		    	width: 655px;
					}
				h3,h1{
					font-size: 2em;
				}
				#logo{
					height:91px;
					margin-top: 87px;
		    		margin-bottom: 67px;
				}
				.footer{
					font-size: 1.5em;
					}
		}
	}
	.wrap {
	    margin: 0 auto;
	    display: inline-block;
	    overflow: hidden;
	}
	.foot {
/*		background-color: #efefef;
*/		/*padding:15px;*/
	}


	.fade {
	   opacity: 1;
	   transition: opacity .25s ease-in-out;
	   -moz-transition: opacity .25s ease-in-out;
	   -webkit-transition: opacity .25s ease-in-out;
   }
	.fade:hover {
	 	color:#adabac;
	 }