	body{
		text-align: center;
		min-width: 810px;
		max-width: 1200px;
		margin: 0px auto;
		font-family: 'Playfair Display', serif;
		color: #999;
	}

	h1,h2,h3,h4{
		font-family: 'Raleway', sans-serif;
	}
	a {
	text-decoration: none;
	color: #999;
	}
	p{
		margin: 50px auto;
		font-size: 1.15em;
		text-align: left;
		width:890px;
	}
	.printable > a > img{
		width:890px;
	}
	@media (max-width: 901px) { 

	p{
		width:450px;
	}
	.printable > a > img{
		width:450px;
	}

	 }

	span.center{
		font-size: 1.2em;
		color:#666;
	}
	#logo{
		/*height:200px;*/
	}
	.share{
		cursor: pointer;
		display:inline-block;
		margin:0px 15px 35px 15px;
	}
	.center {
		display:block;
		margin: 0px auto;
	}
	.thumb {
		display:inline-block;
		margin: 10px;
		max-width: 200%;
	}
	.vtine{
		width:431px;

	}
	@media only screen and (min-device-width : 280px) and (max-device-width : 600px) {

		.thumb.vtine { display:block;
				margin: 5px;
				width: 800px;
				}
		.share{
				width:200%;
		}
	}

	.wrap {
	    margin: 0 auto;
	    display: inline-block;
	    overflow: hidden;
	}
	.foot {
		background-color: #efefef;
		padding:15px;
	}

	.fade {
	   opacity: 1;
	   transition: opacity .25s ease-in-out;
	   -moz-transition: opacity .25s ease-in-out;
	   -webkit-transition: opacity .25s ease-in-out;
   }
	.fade:hover {
	 	opacity: 0.8;
	 }